# IntelliJ IDEA folder
/.idea
*.iml

# Build files
/target

# Local configuration file
application.yaml

#log file
ems-backend.log

#Visual Code folder
.vscode

src/main/resources/application.properties