server:
  port: 3000
  error:
    include-message: always
spring:
  application:
    name: EMS-Backend
  datasource:
    url: jdbc:{db_dialect}://localhost:3306/${db_name}
    username: ${db_username}
    password: ${db_password}
  jpa:
    hibernate:
      ddl-auto: update
springdoc:
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  override-with-generic-response: false